{
  "sourceMaps": true,
  // "env": {
  //   "development": {
  //     "sourceMaps": "inline"
  //   },
  //   "production": {
  //     "sourceMaps": false
  //   }
  // },
  "presets": [
    "react"
  ],
  "plugins": [
    "transform-async-to-generator"
  ]
}
