<div class="sb">
    <div class="sb-item">
        <div class="sb-top">
            <div class="sb-top-padding">
                <h1>
                    Get Concerto</h1>
            </div>
        </div>
        <div class="sb-mid">
            <div class="sb-mid-padding">
                <p>
                    <a href="https://github.com/concerto/concerto/archive/2.3.3.tar.gz">Concerto 2 version 2.3.3
                        (.tar.gz)</a></p>
                <p>
                    <a href="http://dl.concerto-signage.org/concerto_server.ova">Concerto 2 VM Image (.ova)</a></p>
                <p>
                    <a href="http://dl.concerto-signage.org/concerto_server.img.zip">Concerto 2 Raw VM Image
                        (.img)</a><br />
                    <a href="http://dl.concerto-signage.org/concerto_player.img.zip"><br />
                        Concerto 2 Player Raw Image (.img.zip)</a></p>
                <p>
                    <a href="http://dl.concerto-signage.org/concerto_player.vmdk">Concerto 2 Player VM Image
                        (.vmdk)</a><br />
                    <br />
                    <a href="http://github.com/concerto/concerto" target="_blank">Concerto 2 Code Repository</a></p>
            </div>
        </div>
        <div class="sb-bot">
            &nbsp;</div>
    </div>
    <div class="sb-item">
        <div class="sb-top">
            <div class="sb-top-padding">
                <h1>
                    Server Requirements</h1>
            </div>
        </div>
        <div class="sb-mid">
            <div class="sb-mid-padding">
                <p>
                    Installing Concerto requires some basic server administration experience. You&#39;ll need to have
                    installed and be familiar with the setup of:</p>
                <ul>
                    <li>
                        A *nix OS</li>
                    <li>
                        Ruby 1.9.x or better</li>
                    <li>
                        A web server (such as Apache, nginx, etc)</li>
                    <li>
                        A connector for serving Ruby on Rails applications such as Passenger (if the webserver
                        doesn&#39;t support Rails natively)</li>
                    <li>
                        A relational database (MySQL, Postgresql, or even SQLite will do)</li>
                </ul>
            </div>
        </div>
        <div class="sb-bot">
            &nbsp;</div>
    </div>
</div>