<div id="stripe4">
    <div class="wrap">
        <footer>
            <div style="float:left; width:68%; text-align:left;">
                <p>
                    <a href="/deploy">Deploy</a> |
                    <a href="http://concerto-signage.org/help">v1 Help</a> |
                    <a href="https://github.com/concerto/concerto_v1/zipball/concerto-1.9.3-NoCAS"
                        target="_blank">v1 Download</a> |
                    <a href="https://github.com/concerto/concerto" target="_blank">v2 Source</a> |
                    <a href="/blog">Blog</a> |
                    <a href="mailto:concerto-digital-signage@googlegroups.com">Concerto Support</a> |
                    <a href="mailto:{{ site.email }}">Dev Team</a>
                </p>
                <p>&copy; 2007-{{ 'now' | date: "%Y" }} The Concerto Project. All rights reserved.</p>
                <p class="small">Concerto is free software; you can redistribute it and/or modify it under the terms
                    of the License included with the software.</p>
                <p class="small">Use of the Concerto name and logo mark are governed by the <a
                        href="/pages/trademark-policy">Concerto Trademark Policy</a>.</p>
            </div>
            <div style="clear:both;"></div>
        </footer>
    </div>
</div>