<div id="stripe1">
    <div class="wrap">
        <div style="float:left;padding-top:18px;">
            <a href="/">
                <img alt="Home"
                    src="/assets/images/conclogo_menu.png"
                    title="Home" />
            </a>
        </div>
        <div style="float:right;">
            <ul id="mainmenu">
                <li class="selected"><a href="/overview">Overview</a></li>
                <!--<li class="sm"><a href="/demo">Demo</a></li>-->
                <li class="sm"><a href="http://groups.google.com/group/concerto-digital-signage"
                        target="_blank">Forum</a></li>
                <li class="sm"><a href="/blog/">Blog</a></li>
                <li class="sm"><a href="/deploy">Deploy</a></li>
            </ul>
        </div>
        <div style="clear:both;"></div>

    </div>
</div>