<div class="sb-item">
    <div class="sb-top">
        <div class="sb-top-padding">
            <h1>
                In Use At RPI</h1>
        </div>
    </div>
    <div class="sb-mid">
        <div class="sb-mid-padding">
            <p>
                The oldest tech university in the English-speaking world relies on
                Concerto every day to stay informed about on-campus events,
                deadlines, workshops, academic lectures, and pretty much everything
                else.&nbsp; Concerto is an information resource like no other that
                greatly improves campus-wide communication.</p>
            <p>
                There are many ways to benefit from a Concerto installation.&nbsp;
                <a href="/why-concerto">Learn more about how Concerto can fit well
                    into your community.</a></p>
        </div>
    </div>
    <div class="sb-bot">&nbsp;</div>
</div>
<div class="sb-item">
    <div class="sb-top">
        <div class="sb-top-padding">
            <h1>Our Benefactors</h1>
        </div>
    </div>
    <div class="sb-mid">
        <div class="sb-mid-padding">
            <p>
                The Concerto Project has only been possible thanks in no small part
                to the <a href="/pages/supporters">funding and generous support</a>
                of many other organizations at RPI.</p>
        </div>
    </div>
    <div class="sb-bot">&nbsp;</div>
</div>