<div class="sb">
    <div class="sb-item">
        <div class="sb-top">
            <div class="sb-top-padding">
                <h1>
                    Concerto Press Kit</h1>
            </div>
        </div>
        <div class="sb-mid">
            <div class="sb-mid-padding">
                <p>
                    Download versions of the logo and other materials at the <a href="/pages/logos-and-graphics">Logos
                        and Graphics</a> page.</p>
            </div>
        </div>
        <div class="sb-bot">
            &nbsp;</div>
    </div>
    <div class="sb-item">
        <div class="sb-top">
            <div class="sb-top-padding">
                <h1>
                    Questions about the Policy</h1>
            </div>
        </div>
        <div class="sb-mid">
            <div class="sb-mid-padding">
                <p>
                    For inquiries regarding the Concerto Trademark Policy, please contact the <a
                        href="mailto:{{ site.email }}">Concerto
                        Team</a>.</p>
            </div>
        </div>
        <div class="sb-bot">
            &nbsp;</div>
    </div>
</div>