<div class="content">
	<p id="notice"><%= notice %></p>

  <h1><%= @page.title %></h1>

  <p>
    <%=raw @page.body %>
  </p>

  <%= link_to 'Edit', edit_page_path(@page) %>
</div>

<div class="stripe blue-images">
  <h1 class="center">Digital Signage for Everyone.</h1>
</div>


<div class="stripe">
  <div class="content expose">
    <div class="center expose-headline">
      <h1>What is Concerto?</h1>
      <h5>An open source digital signage package, Concerto allows you to share videos, graphic flyers, 
and text-based advertisements and target them to specific audiences.</h5>
    </div>
  </div>
</div>

<div class="stripe">
  <div class="content expose">
    <div class="center expose-headline">
      <h1>Take a Look</h1>
      <h5>Concerto is designed from the ground up to be simple, quick, and elegant.</h5>
    </div>
  </div>
</div>

<div class="stripe">
  <div class="content expose">
    <div class="center expose-headline">
      <h1>How to Get Started</h1>
      <h5>Concerto is comprised of two parts: a server and a content player.</h5>
    </div>
  </div>
</div>

<div class="stripe">
  <div class="content expose">
    <div class="center expose-headline">
      <h1>What if I Need Help?</h1>
    </div>
  </div>
</div>