---
---

.post-meta {
  padding: 2px 4px;
  font-size: 12px;
  border: 0px;
  color: #666;
  line-height: 18px;
}

.post-nav {
  float: right;
  position: relative;
  top: -.3em;
  text-align: right;
  width: 100%;
  z-index: 1;
}

.post-footer {
  border-top: dotted 1px #999;
  color: #666;
  clear: both;
  font-size: 10px;
  line-height: 18px;
  padding: 6px 4px;
}

.wp-caption {
  background: #eee;
  margin-bottom: 1.625em;
  max-width: 96%;
  padding: 9px;
}

p img, .wp-caption {
  margin-top: .4em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.625em;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.625em;
}

.wp-caption .wp-caption-text:before {
  color: #666;
  content: '\2014';
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  margin-right: 5px;
  position: absolute;
  left: 10px;
  top: 7px;
}

.wp-caption .wp-caption-text {
  margin-bottom: .6em;
  padding: 10px 0 5px 40px;
  position: relative;
}
.wp-caption .wp-caption-text, .gallery-caption {
  color: #666;
  font-family: Georgia,serif;
  font-size: 12px;
}

.post-title, .post-title a {
    font-weight: normal;
    color: #222;
    text-decoration: none;
}

.post-title a:hover, .post-title a:focus, .post-title a:active {
  color: #1982d1;
}

.caps {
    text-transform: uppercase;
  }
  
  .spaced {
    letter-spacing: .18em;
  }
  
  .center {
    text-align: center;
  }
  
  .smaller {
    font-size: 0.8em;
  }
  
  .larger {
    font-size: 1.2em;
  }
  
  .emboss {
    text-shadow: 0 1px 1px #FFF;
  }
  
  .nomargin {
    margin: 0 !important;
  }
  
  .clear {
    clear: both;
  }
  
  .floatleft {
    float: left;
  }
  
  .floatright {
    float: right;
  }
  
  .caps {
    text-transform: uppercase;
  }
  
  .spaced {
    letter-spacing: .18em;
  }
  
  .center {
    text-align: center;
  }
  
  .smaller {
    font-size: 0.8em;
  }
  
  .larger {
    font-size: 1.2em;
  }
  
  .emboss {
    text-shadow: 0 1px 1px #FFF;
  }
  
  .nomargin {
    margin: 0 !important;
  }
  
  .clear {
    clear: both;
  }
  
  .floatleft {
    float: left;
  }
  
  .floatright {
    float: right;
  }
  
  h1, h2, h3, h4, h5, h6, h12 {
    margin-bottom: 18px !important;
    font-family: "Myriad Pro",Verdana,Arial,sans-serif;
    font-weight: 700;
  }
  
  h1 {
    font-size: 2.4em;
    font-weight: normal;
  }
  
  h2 {
    font-size: 2em;
    font-weight: normal;
  }
  
  h3 {
    font-size: 1.5em;
    font-weight: 400;
  }
  
  a {
    color: #069;
    font-weight: 700;
    text-decoration: none;
  }
  
  p, li {
    line-height: normal;
    margin-bottom: 16px;
  }
  
  a:hover {
    color: #369;
    text-decoration: underline;
  }
  
  small {
    font-size: .6em;
  }
  
  h1 small {
    padding-left: 12px;
  }
  
  code {
    font-family: monospace;
  }

  body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-size: small;
    font-family: "Lucida Grande",Geneva,Arial,Verdana,sans-serif;
    background: #131313;
    color: #333;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  fieldset, img {
    border: 0;
    max-width: 100%;
    height: auto;
  }
  
  address, caption, cite, code, dfn, em, strong, b, th, var, optgroup {
    font-style: inherit;
    font-weight: inherit;
  }
  
  del, ins {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  caption, th {
    text-align: left;
  }
  
  q {
    &:before, &:after {
      content: '';
    }
  }
  
  abbr {
    border: 0;
    font-variant: normal;
  }
  
  sup, sub {
    vertical-align: baseline;
  }
  
  b, strong {
    font-weight: bold;
  }
  
  legend {
    color: #000;
  }
  
  input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
  }
  
  input, button, textarea, select {
    *font-size: 100%;
  }
  
  small {
    font-size: 0.6em;
  }
  
  a {
    color: #069;
    text-decoration: none;
    font-weight: bold;
  
    &:hover {
      text-decoration: underline;
    }
  }
  
  p {
    font-size: small;
    color: #333;
    margin-bottom: 1.5em;
  }
  
  section {
    float: left;
  
    &.single {
      border-top-left-radius: 6px;
      -webkit-border-top-left-radius: 6px;
      -moz-border-radius-topleft: 6px;
      border-top-right-radius: 6px;
      -webkit-border-top-right-radius: 6px;
      -moz-border-radius-topright: 6px;
      border-bottom-left-radius: 6px;
      -webkit-border-bottom-left-radius: 6px;
      -moz-border-radius-bottomleft: 6px;
      border-bottom-right-radius: 6px;
      -webkit-border-bottom-right-radius: 6px;
      -moz-border-radius-bottomright: 6px;
      border: solid 1px #ccc;
      padding: 16px;
      width: 460px;
    }
  }
  
  div {
    &.wrap {
      position: relative;
      width: 100%;
      max-width: 980px;
      margin: 0 auto;
      /* box-sizing: border-box;  <-- Removed to preserve 980px content width on desktop */
      /* padding: 0 10px;         <-- Removed to preserve 980px content width on desktop */
    }
  
    &.indent {
      padding-left: 22px;
      margin: 0 auto;
    }
  }
  
  strong, b {
    font-weight: bold;
  }
  
  i, em {
    font-style: italic;
  }
  
  #floatspace {
    position: relative;
    z-index: 2000;
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
  }
  
  #stripe1 {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background: url(/assets/images/str1_bg.png) top left repeat-x;
    width: 100%;
  }
  
  #stripe2 {
    position: relative;
    z-index: 1;
    background: url(/assets/images/str2_bg.png) top left repeat-x;
    width: 100%;
  }
  
  #stripe2-padding {
    padding-top: 100px;
  }
  
  .bighero {
    height: 400px !important;
  }
  
  .page_bg {
    height: 420px !important;
  }
  
  .fp_waves {
    background: #f1f9fb url(/assets/images/bg_blueray.jpg) top center no-repeat !important;
  }
  
  #stripe3 {
    background: #fff url(/assets/images/str3_bg.png) top left repeat-x;
    width: 100%;
  }
  
  #stripe4 {
    color: #ccc;
    background: url(/assets/images/str4_bg.jpg) top left repeat-x;
    width: 100%;
  
    div.wrap {
      padding: 75px 0px 80px 0px !important;
    }
  
    footer {
      p {
        color: #ccc;
        margin: 0;
        padding: 0;
        padding-bottom: 0.8em;
        font-size: 1.2em;
  
        &.small {
          font-size: 0.8em;
        }
      }
  
      a {
        color: #3399ff;
      }
    }
  }
  
  div.innerdiv {
    width: 100%;
    max-width: 982px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #maincontent {
    padding: 45px 0 30px;
  }
  
  div {
    &.roundcell {
      clear: both;
      background: url(/assets/images/roundcell-mid.png) top center repeat-y;
    }
  
    &.roundcell-padding {
      padding: 0px 40px;
    }
  
    &.roundcell-bot {
      height: 11px;
      background: url(/assets/images/roundcell-bot.png) top center no-repeat;
      width: 100%;
    }
  
    &.roundcell-section {
      clear: both;
      margin: 0px -34px;
      padding: 34px;
      background: url(/assets/images/roundcell-sep.png) top center no-repeat;
      width: 100%;
    }
  
    &.flush {
      margin: 0px -34px;
    }
  
    &.insetcols {
      margin-top: 45px;
    }
  
    &.inset3col {
      float: left;
      width: 30%;
      margin-left: 5%;
      box-sizing: border-box;
    }
  
    &.inset3col_first {
      margin-left: 0;
    }
  
    &.inset3col_quote {
      text-align: center;
      padding-top: 20px;
    }
  
    &.inset3col_2span {
      width: 65% !important;
    }
  
    &.inset3col {
      h1 {
        font-size: 12px !important;
        font-weight: bold !important;
        margin-bottom: 4px !important;
      }
  
      p {
        font-size: 11px;
        color: #333;
        line-height: 1.5 !important;
      }
    }
  }
  
  p.quote {
    font-family: Georgia, Times, serif;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    padding: 6px 12px;
    font-style: italic;
    font-size: 1.2em !important;
  }
  
  div {
    &#rc_univ {
      background: url(/assets/images/roundcell-top_univ.jpg) bottom center no-repeat;
      height: 173px;
      width: 100%;
    }
  
    &#rc_iphone {
      position: relative;
      background: url(/assets/images/wc_iphone.jpg) bottom right no-repeat;
      margin-right: -34px;
      padding-right: 550px;
    }
  
    &#rc_ems {
      padding-right: 450px;
      background: url(/assets/images/wc_ems.jpg) bottom right no-repeat;
      margin-right: -34px;
    }
  }
  
  #screenslate {
    z-index: 1000;
    position: absolute;
    top: 180px;
    width: 383px;
    height: 357px;
    right: -15px;
    max-width: 100%;
  }
  
  #fpth {
    background: url(/assets/images/fpth_bg.png) top center no-repeat;
    width: 725px;
    max-width: 100%;
    height: 111px;
    margin-top: 130px;
    margin-left: 25px;
    padding: 8px 10px 15px 55px;
    box-sizing: border-box;
  
    a {
      img {
        border: solid 1px #d4d4d4;
        margin: 0px 12px;
      }
  
      &:hover img {
        border: solid 1px #3399cc;
      }
    }
  }
  
  #mc {
    float: left;
    width: 600px;
  
    p {
      line-height: 20px;
    }
  
    ul, ol {
      margin-left: 35px;
    }
  
    li {
      margin: 0px;
      margin-bottom: 6px;
      padding: 0px;
    }
  }
  
  div.sb {
    margin-top: 35px;
    margin-right: 10px;
    width: 320px;
    float: right;
    margin-left: 50px;
    margin-bottom: 25px;
  }
  
  .sb-cols {
    float: none;
    margin: 0px 3px !important;
  }
  
  div {
    &.sb-item {
      margin-bottom: 15px;
    }
  
    &.sb-top {
      background: url(/assets/images/sb-top_bg.png) bottom center no-repeat;
      height: 36px;
  
      h1 {
        color: #111 !important;
        font-size: 1.5em;
        text-shadow: 0px 1px 1px #FFF;
        font-weight: 400 !important;
      }
    }
  
    &.sb-top-padding {
      padding: 10px 20px;
    }
  
    &.sb-mid {
      position: relative;
      background: url(/assets/images/sb-mid_bg.png) top center repeat-y;
    }
  
    &.sb-mid-padding {
      padding: 25px 20px;
    }
  }
  
  .sb-cols div.sb-mid-padding {
    min-height: 400px;
  }
  
  div {
    &.sb-bot {
      background: url(/assets/images/sb-bot_bg.png) top center no-repeat;
      height: 7px;
    }
  
    &.sb {
      ul, ol {
        margin-left: 22px;
      }
  
      li {
        margin: 6px 0px;
      }
    }
  }
  
  div {
    &.twocol {
      clear: both;
      width: 100%;
      margin-top: 50px;
    }
  
    &.twocol-left {
      float: left;
      width: 30%;
      text-align: right;
  
      h1 {
        margin: 0px !important;
        padding: 0px !important;
        line-height: normal !important;
      }
    }
  
    &.twocol-right {
      padding-top: 16px;
      float: right;
      width: 65%;
  
      p {
        font-size: 1.3em;
      }
    }
  }
  
  .post-body h1 {
    margin: 45px 0px 25px 0px;
  }
  
  #hp-top {
    color: #ccc;
    padding: 55px 0px 1px 0px;
  }
  
  #hp-title {
    h1 {
      color: #FFF;
      font-size: 2.6em;
      margin: 0px;
    }
  
    h2 {
      font-size: 1.8em;
      color: #999;
  
      a {
        font-weight: normal;
        color: #ccc;
      }
    }
  
    img {
      float: left;
      margin-right: 20px;
      max-width: 100%;
      height: auto;
    }
  }
  
  p#hp-details {
    font-size: 10px !important;
    text-align: right;
    color: #ccc;
  }

  div {
    &.threecol-full {
      text-align: center;
      float: left;
      width: 320px;
    }
  
    &.threecol-full_padding {
      padding: 25px;
    }
  
    &.threecol-full {
      p {
        text-align: left;
      }
  
      img {
        text-align: center !important;
      }
    }
  }
  
  ul#mainmenu {
    font-size: 0.7em;
    list-style: none;
    padding-top: 46px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  
    li {
      float: none; /* Removed float */
      width: auto;
      margin: 0 2px;
      padding: 12px 0 0;
  
      a {
        background: url(/assets/images/menu_bg_states.png) no-repeat 0px 0px;
        display: block;
        width: 90px;
        height: 56px;
        padding: 14px 18px 0px 18px;
        color: #111;
        font-size: 1.8em;
        font-weight: 600 !important;
        font-family: "Myriad Pro",Verdana,Arial,sans-serif;
        text-decoration: none;
        text-align: center;
        text-shadow: 0px 1px 1px #FFF;
      }
  
      &.selected a, a:hover {
        background: url(/assets/images/menu_bg_states.png) no-repeat -126px 0px;
      }
  
      &.sm {
        margin: 0 3px !important;
        width: 90px !important;
  
        a {
          background: url(/assets/images/menusm_bg_inact.png) top center no-repeat !important;
          width: 54px;
  
          &:hover {
            background: url(/assets/images/menusm_bg_act.png) top center no-repeat !important;
          }
        }
  
        &.selected a {
          background: url(/assets/images/menusm_bg_act.png) top center no-repeat !important;
        }
      }
    }
  }
  
  .no-js {
    width: 60%;
  }

/* Blockquote styling for email/quotes */
blockquote {
  background: #f5f5f5;
  margin: 1.5em 2em;
  padding: 1em;
  border-left: 5px solid #ddd;
  color: #555;
}

blockquote p:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 980px) {
  div.wrap {
      padding: 0 10px;
      box-sizing: border-box;
  }

  #stripe1 {
    position: relative !important;
  }

  #stripe1 .wrap > div {
    float: none !important;
    text-align: center;
    padding-top: 10px !important;
  }

  #mc {
    width: 100%;
    float: none;
  }
  
  div.sb {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  section.single {
      width: 100%;
      box-sizing: border-box;
  }

  /* Responsive Main Menu */
  ul#mainmenu {
      padding-top: 10px !important;
      justify-content: center;
      margin-bottom: 20px;
  }
  ul#mainmenu li {
      margin-bottom: 5px;
      width: auto;
      margin: 5px;
  }
  
  /* Simplify menu tabs on mobile */
  ul#mainmenu li a, 
  ul#mainmenu li.selected a, 
  ul#mainmenu li.sm a, 
  ul#mainmenu li.sm.selected a,
  ul#mainmenu li a:hover,
  ul#mainmenu li.sm a:hover {
    background: #f0f0f0 !important;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: auto !important;
    height: auto !important;
    padding: 8px 15px !important;
    font-size: 1.2em;
    text-shadow: none;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  }

  /* Highlight selected state clearly */
  ul#mainmenu li.selected a {
    background: #fff !important;
    border-color: #999;
    font-weight: bold;
  }

  #stripe2-padding {
      padding-top: 10px !important;
  }

  #hp-title img {
      float: none;
      display: block;
      margin: 0 auto 20px;
  }
  
  #hp-title {
      text-align: center;
  }

  /* Adjust section headers and forced-width sections */
  section {
      width: 100% !important;
      float: none !important;
  }

  /* Footer adjustments */
  footer div {
      width: 100% !important;
      text-align: center !important;
  }
  
  /* Fix oversized background images/containers */
  #rc_univ, #rc_iphone, #rc_ems {
    background-size: cover;
    padding-right: 0 !important;
    height: auto;
    min-height: 200px;
  }

  /* Two column layouts stack */
  div.twocol-left, div.twocol-right {
      float: none;
      width: 100%;
      text-align: left;
  }
}
