---
layout: base
---

<div id="stripe2">

    {% include nav.html %}
    
    <div id="stripe2-padding" class="pagebg_overview">
        <div class="wrap">
            <div id="hp-title">
                <img src="/assets/images/blog_banner_1b.jpg" />
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>
<div id="stripe3">
    <div class="wrap">
        <div id="maincontent">
            <div id="mc" style="width:100%;">
                {{ content }}
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>