---
layout: base
---

<div id="stripe2" class="help-page-index">
    {% include nav.html %}

    <div id="stripe2-padding">
        <div id="hp-top" class="wrap">
            <div id="hp-title">
                <img src="/assets/images/robot_icon.png" />
                <h1>{{ page.title }}</h1>
                <h2><a href="/help">Help</a> :: {{ page.folder }}</h2>
            </div>
            <div style="clear:both;"></div>
            <p id="hp-details">
                <b>Last modified: </b>{{ page.date | date: "%I:%M %P on %b %-d, %Y" }}
            </p>
        </div>
    </div>
</div>

<div id="stripe3">
    <div class="wrap">
        <div id="maincontent">
            <div id="mc" style="width:100%;">
                <article>
                    <div style="clear:both;"></div>
                    <section style="width:980px;clear:both;">
                        <div class="block">{{ content }}</div>
                        <div class="block"></div>
                        <br />
                    </section>
                    <div style="clear:both;"></div>
                </article>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>