---
layout: base
---

<div id="floatspace">
    <div id="screenslate">
        <img alt="" src="/assets/images/screenslate.jpg" />
    </div>
</div>

<div id="stripe2" class="fp_waves bighero">

    {% include nav.html %}

    <div id="stripe2-padding">
        <div class="wrap">
            <div id="fpth">
                <a href="/why-concerto"><img alt="" src="/assets/images/fpth_why.jpg" /></a>
            </div>
        </div>
    </div>
</div>

<div id="stripe3">
    <div class="wrap">
        <div id="maincontent">
            <div id="mc">
                {{ content }}
            </div>

            <div class="sb" style="margin-top:100px;">

                <div class="sb-item">
                    <div class="sb-top">
                        <div class="sb-top-padding">
                            <h1>On the Concerto Blog</h1>
                        </div>
                    </div>
                    <div class="sb-mid">
                        <div class="sb-mid-padding">
                            {% for post in site.posts | limit:5 %}
                            <p>
                                <a href="{{ post.url }}">{{ post.title }}</a><br />
                                {{ post.excerpt | strip_html | strip_newlines | truncate: 155 }}
                            </p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="sb-bot">&nbsp;</div>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>